<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
	<title>Ergebnis</title>
	<link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="resources/css/text.css"/>
</h:head> 

<body>
	<h:form> 
	<div class="shrink-wrap-help-container">
		<div class="opacity-box big-text center-text shrink-wrap-help">
			<h:panelGroup rendered="#{gameController.game.currentLevel.lastLevel}">
				<h1>Herzlichen Glückwunsch!</h1>
				<h1>Alle Level abgeschlossen!</h1>
			</h:panelGroup>
			<h:panelGroup rendered="#{gameController.game.totalPoints!=0}">
				<div><h:outputText value="Du hast insgesamt #{gameController.game.totalPoints} Punkte erreicht." /></div>
			</h:panelGroup>
			<h:panelGroup rendered="#{gameController.game.totalPoints==0}">
				<div>Noch kein Level abgeschlossen.</div>
				<div>Probier's doch noch einmal!</div>
			</h:panelGroup>			
		</div>
	</div>		
		<div class="center-text">
			<p:commandButton rendered="#{gameController.game.totalPoints!=0}" action="#{gameController.tosaveGame()}" value="Speichern" styleClass="button"/>
			<p:commandButton rendered="#{gameController.game.totalPoints!=0}" value="Startseite" onclick="PF('dialog').show();" styleClass="button"/>
			<p:commandButton rendered="#{gameController.game.totalPoints==0}" value="Startseite" action="#{gameController.toIndex()}" styleClass="button"/>
		</div>
	</h:form>

	<p:dialog id="popupNewGame" modal="true" widgetVar="dialog">
		<h:form>
			<h:outputText value="Willst du das Spiel wirklich nicht speichern und zur Startseite zurück?" />
			<div class="center-text">
				<p:commandButton action="#{gameController.toIndex()}" value="Ja"/>
				<p:commandButton value="Nein" onclick="hide();"/>
			</div>
		</h:form>
	</p:dialog> 
</body> 
</html>
