<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
	<title>Spiel</title>
	<link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="resources/css/text.css"/>
	<link rel="stylesheet" type="text/css" href="resources/css/board.css"/>
</h:head> 
<body>
	<p:dialog id="popupLevelGoal" modal="true" widgetVar="levelGoal"
		rendered="#{gameController.levelGoalPopupVisible}" visible="#{gameController.levelGoalPopupVisible}">
		<h:form>
			<div class="center-text">
				<div class="big-text">Levelziel:</div>
				<div><h:outputText value="Erreiche #{gameController.game.currentLevel.goal} Punkte in #{gameController.game.time.countDown} Minuten!" /></div>
				<div>
					<p:commandButton value="Start" action="#{gameController.hideLevelGoalPopup()}" onclick="PF('pollTime').start();PF('pollFinishLevel').start();PF('levelGoal').hide();" styleClass="dialog-button"/>
				</div>
			</div>			
		</h:form>
	</p:dialog>
	
	<div id="game-page">	
		<div id="status" class="center-block">
			<h:outputText value="Level #{gameController.game.currentLevel.numberOfLevel}" styleClass="level-text"/>
			<h:form styleClass="shrink-wrap-help">
				<h:outputText id="time" value="Zeit: #{gameController.game.time.countDown}" styleClass="time-text"/>
				<p:poll widgetVar="pollTime" interval="1" autoStart="#{!gameController.levelGoalPopupVisible}" listener="#{gameController.game.time.decrement()}" stop="#{gameController.game.time.over}" update="time" />
				<p:poll widgetVar="pollFinishLevel" interval="1" autoStart="#{!gameController.levelGoalPopupVisible}" listener="#{gameController.finishLevelOnTimeOut()}" stop="#{gameController.game.time.over}" update=":gameFinished"/>
			</h:form>
			<h:outputText id="points" value="Punkte: #{gameController.game.currentPoints} / #{gameController.game.currentLevel.goal}" styleClass="points-text"/>
		</div>	
		
		<p:dataGrid id="board" styleClass="center-block" columns="20" value="#{gameController.game.board.blockTable}" var="block">
			<p:commandButton id="game-block" value="" action="#{gameController.onClick(block)}"
				styleClass="#{block.colour.style}" update="board,:points"/>
		</p:dataGrid>
			
		<h:form styleClass="center-text">
			<p:commandButton value="Abbrechen" onclick="PF('pollTime').stop();PF('CancelGame').show();" styleClass="button"/>
	    </h:form>
	</div>					
	
	<p:dialog id="CancelGame" modal="true" widgetVar="CancelGame">
		<h:form>
			<h:outputText value="Willst du das momentane Spiel wirklich beenden?" />
			<div class="center-text">
				<p:commandButton action="#{gameController.cancel()}" value="Ja" styleClass="dialog-button"/>
				<p:commandButton value="Nein" onclick="PF('pollTime').start();PF('CancelGame').hide();" styleClass="dialog-button"/>
			</div>
		</h:form>
	</p:dialog>
	
	<p:dialog id="gameFinished" modal="true" widgetVar="gameFinished">
		<h:form>
			<h:outputText value="Gewonnen!" rendered="#{gameController.game.winner}"/>
			<h:outputText value="Spiel zu Ende!" rendered="#{!gameController.game.winner}"/>
			<div class="center-text">
				<p:commandButton value="OK" action="#{gameController.toResult()}" styleClass="dialog-button"/>
			</div>
		</h:form>
	</p:dialog>
</body> 
</html>
