<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
	<title>anleitung</title>
	<link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="resources/css/text.css"/>
</h:head> 
<body> 
	<div>
	<h2>Anleitung</h2>
		<div class="page-left opacity-box-introducing hight_boxes">
			<h3>Spielregeln</h3>
				<div class="instructions-page">
					Innerhalb eines bestimmten Zeitintervalls müssen immer wieder so viele gleichfarbige Blöcke wie es geht weggecklickt werden um die steigenden Levelziele in Punkten zu erreichen
				</div>
					
		</div>
		<div class="page-right opacity-box-introducing hight_boxes">
			<h3>Überblick der Levelziele</h3>
			<div class="instructions-page">
				<div>
					Level 1: Zeit: 180 Sekunden Ziel: 1000 Punkte</div>
				<div>Level 2: Zeit: 120 Sekunden Ziel: 1500 Punkte</div>
				<div>Level 3: Zeit: 100 Sekunden Ziel: 1000 Punkte</div>
				<div>Level 4: Zeit: 90 Sekunden Ziel: 1500 Punkte</div>
				<div>Level 5: Zeit: 60 Sekunden Ziel: 2000 Punkte</div>
			</div>
		</div>	
	</div>
	<div class= "center-text">
	<h:form>
				<p:commandButton value="Zurück" action="start?faces-redirect=true" styleClass="button" />
				</h:form>
				</div>

</body> 
</html>
