<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
	<title>Zwischenergebnis</title>
	<link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="resources/css/text.css"/>
</h:head> 

<body>
	<div class="shrink-wrap-help-container"> 
		<div class="opacity-box big-text middle-text center-text shrink-wrap-help">
			<h2>Glückwunsch!</h2>
			<h:outputText value="Du hast #{gameController.game.currentPoints} Punkte" />
			<div><h:outputText value="in Level #{gameController.game.currentLevel.numberOfLevel} erreicht"/></div>
			<div>und steigst ein Level auf.</div>
			<div>Hier dein derzeitiger Zwischenstand:</div> 
			<h:outputText value="#{gameController.game.totalPoints} Punkte"/>
		</div>
	</div>
	<h:form>
		<div class="center-text">
			<p:commandButton action="#{gameController.startNewLevel()}" value="Nächstes Level" styleClass="button"/>
			<p:commandButton action="#{gameController.tosaveGame()}" value="Speichern" styleClass="button"/>
			<p:commandButton value="Startseite" onclick="PF('dialog').show();" styleClass="button"/>
		</div>
	</h:form>

	<p:dialog id="popupNewGame" modal="true" widgetVar="dialog">
		<h:form>
			<h:outputText value="Willst du das Spiel wirklich nicht speichern und zur Startseite zurück?" />
			<div class="center-text">
				<p:commandButton action="#{gameController.toIndex()}" value="Ja"/>
				<p:commandButton value="Nein" onclick="hide();"/>
			</div>
		</h:form>
	</p:dialog> 
</body> 
</html>
