<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
	<title>Bestenliste</title>
	<link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="resources/css/text.css"/>
</h:head> 
<body> 
	<h1>Bestenliste</h1>
	<div class="shrink-wrap-help-container">
		<p:dataTable styleClass="shrink-wrap-help" value="#{dBOperator.ranking}" var="item" paginator="true" rows="9" >
			<p:column headerText="Rang">
				#{item.rank}
			</p:column>
			<p:column headerText="Name"> 
				#{item.user}
			</p:column>
			<p:column headerText="Punkte">
				#{item.points}
			</p:column>
			<p:column headerText="Datum">
				#{item.date}
			</p:column>
		</p:dataTable>
	</div>
	
	<h:form>
		<div class="center-text">
			<p:commandButton value="Zur Startseite" action="start?faces-redirect=true" styleClass="button"/>
		</div>		
	</h:form>
</body> 
</html>
