<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
	<title>SaveGame</title>
	<link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="resources/css/text.css"/>
</h:head> 
<body>
	<h:form>
		<p:messages autoUpdate="true" />
		<div class="shrink-wrap-help-container">
			<div class="opacity-box center-text shrink-wrap-help">
				<h2>Ergebnis speichern</h2> 
				<span class="big-text">
					Name:
					<h:inputText id="username" value="#{dBOperator.game.user}" required="true" requiredMessage="Bitte gib deinen Namen an">
						<f:validateLength maximum="20" minimum="3"/>
						<f:validateRegex pattern="[a-zA-Z0-9äöüÄÖÜß]+"/>
					</h:inputText>
				</span>
				
				<div><p:commandButton action="#{dBOperator.saveGame(gameController.game)}" value="speichern" styleClass="button"/></div>
				
			</div>
		</div>
	</h:form>
</body> 
</html>
