<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
	<title>Introseite</title>
	<link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="resources/css/text.css"/>	
</h:head> 
<body> 
	<h:form>	
	<div class="middle-text">
		<h1>Introseite</h1>
		<div class="center-text">		
			<p:commandButton value="Anleitung" action="introduction?faces-redirect=true"  styleClass="button"/>
			<p:commandButton value="Spielen" action="#{gameController.startNewGame()}" styleClass="button"/>
			<p:commandButton value="Bestenliste" action="ranking?faces-redirect=true" styleClass="button"/>
		</div>
	</div>
	</h:form>
</body> 
</html>
