#board, #status {
	margin-top: 1rem;
	width: 40rem;
}

#board button {
	background-image: none;
}

#board_content {
	background-color: rgba(139,115,85,0.7);
}

#board .red {
	background-color: red;	
}

#board .yellow {
	background-color: yellow;
}

#board .blue{
	background-color: blue;
}

#board .green {
	background-color: green;
}

#board .orange{
	background-color: orange;
}

#board .transparent {
	opacity: 0;
}

#board .red,#board .yellow,#board .blue,#board .green,#board .orange,#board .transparent {
	height: 1.3rem;
	width: 1.3rem;
}