@CHARSET "ISO-8859-1";
body {
	background-image:url("../img/Hintergrund.jpg");
	padding:20px;
}

.shrink-wrap-help {
	display: inline-block;
}

.shrink-wrap-help-container {
	width: 100%;
	text-align: center;
}

.page-left {
	float: left;
	padding: 20px;
	width: 30%;
	margin-left: 12rem;
	margin-bottom: 3rem;
}

.page-right {
	float: right;
	padding: 20px;
	width: 30%;
	margin-right: 12rem;
	margin-bottom: 3rem;
}

.instructions-page {
	display: inline-block;
}

.button {
	border-width: 2px;
	border-style: outset;
	border-color: #00BFFF;
	color: #0000CD;
	text-align: center;
	background-color: #ffffff;
	margin: 10px;
	padding: 5px;
}

.dialog-button {
	text-align: center;
	margin-top: 1rem;;
}

.hight_boxes{
	height: 200px;
}
.center-text {
	text-align: center;
}

.center-block {
	display: block;
}

#game-page table, .center-block {
	margin-left: auto;
	margin-right: auto;	
}

.opacity-box {
	background-color: rgba(255,255,255,0.6);
	padding: 1rem;
	margin-top: 5rem;
	margin-left: auto;
	margin-right: auto;
}

.opacity-box-introducing {
	background-color: rgba(255,255,255,0.6);
	padding: 1rem;
	margin-top: 3%;
}
