h1 {
	text-align: center;
	color: white;
	text-shadow: -1px 0 #0000CD, 0 1px #00BFFF, 1px 0 #00BFFF, 0 -1px #0000CD
}

h2 {
	text-align: center;
	color: white;
	font-size: 3rem;
	text-shadow: -1px 0 #0000CD, 0 1px #00BFFF, 1px 0 #00BFFF, 0 -1px #0000CD
}

h3 {
	font-size: 2rem;
	color: #104E8B;
	margin: 1rem;
}

.big-text {
	font-size: 2rem;
	color: #104E8B;
}

.level-text, .time-text, .points-text {
	color: white;
	font-size: 20px;
}

.level-text {
	float: left;
}

.time-text {
	margin-left: 13rem;
}

.points-text {
	float: right;
}
